.titre{
    font-weight: 700;
    color:black;
    font-size: 24px;
}

.nomhead{
    font-weight: 700;
    color:black;
    font-size: 16px;
}

.nom{
    font-size: 14px;
    font-weight: 400;
    color:blueviolet;
}

.range{
    font-size: 14px;
    font-weight: 700;
}